<div class="row">
    <div class="col-xs-12">
      <h1>{{recipe.name}}</h1>
      <h5>Prepare time: {{recipe.time}} minutes</h5>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <div class="btn-group" appDropdown>
        <button type="button" class="btn btn-primary dropdown-toggle">
          Manage recipe <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li><a (click)="addToShoppingList()" style="cursor: pointer">To shopping list</a></li>
          <li><a style="cursor: pointer" routerLink="edit" *ngIf="canEdit()">Edit recipe</a></li>
          <li><a style="cursor: pointer" (click) = "onRecipeDelete()" *ngIf="canDelete()">Delete recipe</a></li>
        </ul>
      </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
      <h1>Ingredients</h1>
      <ul class="list-group">
        <li *ngFor="let ing of recipe.ingredients" class="list-group-item">{{ing}}</li>
      </ul>
    </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>Steps</h1>
    <ul class="list-group">
      <li *ngFor="let step of recipe.steps" class="list-group-item">{{step}}</li>
    </ul>
  </div>
</div>
